.footer {
  position: absolute;
  bottom: 0px;margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.footer2 {
  margin-top: 30px;
}

.options {
  float: left;
  text-align: left;
}

.github {
  float:right;
  position: absolute;
  top:0;
  right: 0;
}

.title {
  margin-left: 50px;
}

.length {
  margin-top: 10px;
  width: 60px
}

.password {
  width: 30em;
}

.password-container {
  margin-left: 200px;
}

.generate {
  margin-top: 5px;
}

.container{
  width:1025px;
}

.vertical-center {
  height:100%;
  width:100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  margin-top: 10%;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

@media (max-width: 768px) {
  .vertical-center:before {
    /* height: auto; */
    display: none;
  }
}
