.footer {
  position: absolute;
  bottom: 0px;margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.footer2 {
  margin-top: 30px;
}

.options {
  float: left;
  text-align: left;
}

.github {
  float:right;
  position: absolute;
  top:0;
  right: 0;
}

.title {
  margin-left: 50px;
}

.length {
  margin-top: 10px;
  width: 60px
}

.password {
  width: 30em;
}

.password-container {
  margin-left: 200px;
}

.generate {
  margin-top: 5px;
}